aws_region         = "ca-central-1"
project_name       = "automate-kubernetes-deployment"
environment        = "dev"
cluster_name       = "ansible-capstone-eks"
kubernetes_version = "1.36"

node_instance_types = [
  "t3.small"
]

# Replace this example address with your current public IP address using /32.
cluster_public_access_cidrs = [
  "203.0.113.10/32"
]
