aws_region         = "ca-central-1"
project_name       = "automate-kubernetes-deployment"
environment        = "dev"
cluster_name       = "ansible-capstone-eks"
kubernetes_version = "1.36"

node_instance_types = [
  "t3.small"
]
